@using Models
@using DNP_Assignment1.Data.Services
@inject IAdultService _adultService;

<div style="margin: 10px" class="card">
        <div class="card-body">
            <div class="row" style="margin-left: 3px; margin-bottom: 10px">
                <img style="max-width: 60px; max-height: 60px;border-radius: 50%;" src="@Adult.ProfileUrl" alt="...">
                <h5 class="card-title" style="margin-left: 10px; margin-top: 20px">@Adult.FirstName @Adult.LastName</h5>
            </div>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/ID.png" alt="...">
                    <p class="card-text">@Adult.Id</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Sex.png" alt="...">
                    <p class="card-text">@Adult.Sex</p>
                </div>
            </div>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Job.png" alt="...">
                    <p class="card-text">@Adult.JobTitle.JobTitle</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Income.png" alt="...">
                    <p class="card-text">@Adult.JobTitle.Salary</p>
                </div>
            </div>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Eye.png" alt="...">
                    <p class="card-text">@Adult.EyeColor</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Hair.png" alt="...">
                    <p class="card-text">@Adult.HairColor</p>
                </div>
            </div>
            <div class="row">
              
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Age.png" alt="...">
                    <p class="card-text">@Adult.Age</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Weight.png" alt="...">
                    <p class="card-text">@Adult.Weight</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="max-width: 20px; max-height: 20px; margin-right: 10px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Height.png" alt="...">
                    <p class="card-text">@Adult.Height</p>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <button @onclick="@(() => RemoveAdult(Adult.Id))" style="margin-left: 30px; margin-right: 10px; margin-top: 10px" type="button" class="btn btn-danger btn-sm">Delete</button>
                    <button style="margin-right: 10px; margin-top: 10px" class="btn btn-warning btn-sm"  @onclick="HandleEdit">Edit</button>
                </div>
            </div>
        </div>
    </div>

@code {
    [Parameter]  
    public Adult Adult { get; set; }
    
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    
    private void HandleEdit()
    {
        string url = "/editadult/"+Adult.Id;
        NavigationManager.NavigateTo(url);
    }
    
    private async Task RemoveAdult(int adultId)
    {
        try
        {
            await _adultService.RemoveAdultAsync(adultId);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }

}